@charset "UTF-8";
.navbar-toggler {
  border: none; }

.navbar {
  color: white; }

li .color-link {
  color: white; }
  li .color-link:hover {
    color: white;
    background-color: #6BDD1B;
    text-decoration: underline; }

.logo-notion {
  width: 100px; }

.container-fluid {
  background-color: black; }

main div img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*estilos de footer*/
footer {
  margin-top: 3rem;
  text-align: center;
  color: whitesmoke; }

/*mq de mobile*/
@media screen and (max-width: 800px) {
  body {
    background-color: black; }
  /*ëstilos de home*/
  main .contenedor {
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    gap: 0.5rem;
    margin: 6rem, 2rem, 4rem, 2rem; }
  main .contenedor .img-uno {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-dos {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-tres {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-cuatro {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  .h1-home {
    color: white;
    font-size: x-large;
    margin-left: 10%; }
  .h2-home {
    text-align: center;
    font-size: small;
    color: white;
    margin-bottom: 10px; }
  /*oculto dos imagenes de home */
  main .contenedor .img-dos {
    display: none; }
  main .contenedor .img-cinco {
    display: none; }
  /*estilos de section*/
  section {
    display: grid;
    padding: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 10%;
    margin-top: 50px; }
  .menu {
    color: white;
    border: none;
    text-decoration: overline; }
  /*estilos de catalogo mobile*/
  .catalogo-img .catg-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 15px 25px rgba(56, 75, 60, 0.384); }
  /*estilos de servicios mobile */
  main .main-servi {
    padding: 50px;
    display: none;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, 20%);
    gap: 5rem;
    align-items: center;
    width: 100%; }
  .card {
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px; }
  .img-serv {
    display: none;
    width: 150px;
    height: 150px;
    margin-left: 30%;
    border-radius: 20%;
    margin-top: 20px;
    margin-bottom: 20px; }
  main p {
    display: flex;
    color: white;
    margin: auto;
    align-items: center; }
  .video-serv {
    display: flex;
    object-position: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: 0px 15px 25px rgba(118, 139, 123, 0.384); }
  /*estilos de modalidad mobile*/
  .main-mod {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 4rem, 2rem, 4rem, 2rem;
    justify-content: center; }
  .mod-title {
    box-shadow: 0px 15px 25px rgba(56, 75, 60, 0.384); }
  .vid-mod {
    display: grid;
    object-fit: contain;
    padding: 50px;
    box-shadow: 0px 15px 25px rgba(56, 75, 60, 0.384); }
  /*estilos de Contacto mobile */
  .style-contact {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    background-color: black;
    align-items: center;
    gap: 2rem; }
  form {
    color: #f3ebeb;
    background-color: #fff0f017;
    padding: 5px;
    width: 300px;
    height: 400px;
    gap: 5px;
    margin-left: 15%;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(19, 141, 47, 0.815); }
  .botton {
    background-color: rgba(58, 58, 168, 0.795);
    color: white;
    border-radius: 5px;
    font-size: small; }
  .botton-red {
    background-color: rgba(160, 60, 60, 0.863);
    color: white;
    border-radius: 5px;
    font-size: small; }
  label {
    margin: 10px;
    padding: 5px;
    background-color: #9efc90;
    color: black;
    border-radius: 5px;
    font-size: large;
    font-style: unset; }
  legend {
    margin: 10px;
    padding: 5px;
    color: rgba(253, 246, 246, 0.897);
    border-radius: 10px;
    font-size: xx-large; }
  input {
    margin: 5px;
    padding: 5px;
    background-color: #ddd4d4;
    color: #0a0808;
    border-radius: 5px;
    font-size: medium;
    font-style: unset; }
  .img-contac {
    display: none; } }

/*mq de tablet*/
@media screen and (min-width: 800px) {
  body {
    background-color: black; }
  /*estilos de catalogo tablet*/
  .catalogo-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 3px;
    margin: auto;
    width: 90%;
    box-shadow: 0px 15px 25px rgba(56, 75, 60, 0.384); }
  /*estilos de home tablet*/
  main .contenedor {
    display: grid;
    height: 90vh;
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: repeat(2, 50%);
    width: 100%;
    margin: 4rem, 2rem, 4rem, 2rem;
    gap: 1rem; }
  main .contenedor .img-dos {
    display: block;
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-uno {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-tres {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-cuatro {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-cinco {
    display: none; }
  .h1-home {
    color: white;
    font-size: x-large;
    margin-left: 10%; }
  .h2-home {
    text-align: center;
    font-size: small;
    color: white;
    margin-bottom: 10px; }
  /*estilos de section*/
  section {
    color: white;
    display: grid;
    padding: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 28%;
    margin-top: 50px; }
  .menu {
    color: white;
    border: none;
    text-decoration: overline; }
  /*estilos de servicios tablet*/
  .container-card {
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    margin: auto; }
  .card {
    width: 350px;
    height: 350px;
    padding: 5px;
    margin-left: 5%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 15px 25px rgba(118, 139, 123, 0.384); }
  main p {
    color: black;
    margin: auto;
    align-items: center; }
  .video-serv {
    display: none; }
  /*estilos de modalidad tablet*/
  .main-mod {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 4rem, 2rem, 4rem, 2rem;
    gap: 5px; }
  .vid-mod {
    align-items: center;
    margin: 0 4rem 4rem 4rem;
    padding: 1rem  4rem 0 4rem;
    display: grid;
    box-shadow: 0px 15px 25px rgba(56, 75, 60, 0.384); }
  .mod-title {
    box-shadow: 0px 15px 25px rgba(56, 75, 60, 0.384); }
  /*estilos de Contacto tablettt*/
  .style-contact {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center; }
  form {
    color: #f3ebeb;
    background-color: #fff0f017;
    padding: 5px;
    width: 300px;
    height: 400px;
    gap: 5px;
    margin-left: 35%;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(19, 141, 47, 0.815); }
  .botton {
    background-color: rgba(58, 58, 168, 0.795);
    color: white;
    border-radius: 5px;
    font-size: small; }
  .botton-red {
    background-color: rgba(160, 60, 60, 0.863);
    color: white;
    border-radius: 5px;
    font-size: small; }
  label {
    margin: 10px;
    padding: 5px;
    background-color: #9efc90;
    color: black;
    border-radius: 5px;
    font-size: large;
    font-style: unset; }
  legend {
    margin: 10px;
    padding: 5px;
    color: rgba(253, 246, 246, 0.897);
    border-radius: 10px;
    font-size: xx-large; }
  input {
    margin: 5px;
    padding: 5px;
    background-color: #ddd4d4;
    color: #0a0808;
    border-radius: 5px;
    font-size: medium;
    font-style: unset; }
  .img-contac {
    width: 500px;
    height: 500px;
    margin-left: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    border-radius: 20%;
    box-shadow: 0px 15px 25px rgba(118, 139, 123, 0.384); } }

/*mq de desktop */
@media screen and (min-width: 1024px) {
  body {
    background-color: black; }
  main .contenedor .img-dos {
    display: block;
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-uno {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-tres {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-cuatro {
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor .img-cinco {
    display: block;
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  main .contenedor {
    height: 150vh;
    width: 100%;
    max-width: 1300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 35% 35% 20%;
    margin: auto; }
  main .contenedor .img-uno {
    grid-row: span 2; }
  main .contenedor .img-tres {
    grid-row: span 2; }
  main .contenedor .img-cuatro {
    grid-column: span 1; }
  main .contenedor .img-cinco {
    grid-column: span 3; }
  main .contenedor .img-cinco {
    grid-column: span 3; }
  .h1-home {
    color: white;
    font-size: x-large;
    margin-left: 10%; }
  .h2-home {
    text-align: center;
    font-size: small;
    color: white;
    margin-bottom: 10px; }
  /*estilos de section*/
  section {
    color: white;
    display: grid;
    padding: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 30%; }
  .menu {
    color: white;
    border: none;
    text-decoration: overline; }
  /*estilos de catalogo laptop*/
  .catalogo-img {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 7px;
    box-shadow: 0px 15px 25px rgba(118, 139, 123, 0.384); }
  .catalogo-img .catg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384); }
  .catalogo-img :nth-child(2) {
    grid-column-start: span 2; }
  .catalogo-img :nth-child(9) {
    grid-row-start: span 3; }
  /*estilos de servicios laptop*/
  .container-card {
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    margin: auto; }
  .card {
    width: 350px;
    height: 350px;
    padding: 5px;
    margin-left: 25%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 15px 25px rgba(118, 139, 123, 0.384); }
  main p {
    color: black;
    margin: auto;
    align-items: center; }
  .video-serv {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 39%;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(118, 139, 123, 0.384); }
  /*estilos de modalidad laptop */
  .main-mod {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30%);
    margin: 4rem, 2rem, 4rem, 2rem;
    justify-content: center; }
  .vid-mod {
    display: grid;
    box-shadow: 0px 15px 25px rgba(4, 156, 37, 0.384);
    object-fit: contain;
    padding: 50px; }
  .mod-title {
    grid-column: span 2;
    margin-bottom: 30px;
    box-shadow: 0px 15px 25px rgba(56, 75, 60, 0.384); }
  /*estilos de Contacto laptop*/
  .style-contact {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    background-color: black;
    align-items: center; }
  .img-contac {
    width: 500px;
    height: 500px;
    margin-left: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    border-radius: 10%;
    box-shadow: 0px 15px 25px rgba(118, 139, 123, 0.384); }
  form {
    color: #f3ebeb;
    background-color: #fff0f017;
    padding: 5px;
    width: 300px;
    height: 400px;
    gap: 5px;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(19, 141, 47, 0.815); }
  .botton {
    background-color: rgba(58, 58, 168, 0.795);
    color: white;
    border-radius: 5px;
    font-size: small; }
  .botton-red {
    background-color: rgba(160, 60, 60, 0.863);
    color: white;
    border-radius: 5px;
    font-size: small; }
  label {
    margin: 10px;
    padding: 5px;
    background-color: #9efc90;
    color: black;
    border-radius: 5px;
    font-size: large;
    font-style: unset; }
  legend {
    margin: 10px;
    padding: 5px;
    color: rgba(253, 246, 246, 0.897);
    border-radius: 10px;
    font-size: xx-large; }
  input {
    margin: 5px;
    padding: 5px;
    background-color: #ddd4d4;
    color: #0a0808;
    border-radius: 5px;
    font-size: medium;
    font-style: unset; } }
